{{! image, name, description and tagline }}

<h2><a href='/beers/beer-{{this.id}}'>{{this.name}}</a></h2>
<img src='{{this.image_url}}' alt='' width='100px' />
<p>Description : {{this.description}}</p>
<p>#{{this.tagline}}</p>